body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

header{
  background-color: lavender;
}

nav{
  background-color: rgb(178, 178, 215);
}

main{
  background-color: aliceblue;
  font-size: 15px;
}

footer{
  background-color: azure;
}

li{
  display: inline-flex;
  width: 300px
}

h1{
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkmagenta;
}

p{
  line-height: 2.1;
}
